.flutter-plugins-dependencies
.packages
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/build/entrypoint/.packageLocations
.dart_tool/build/entrypoint/build.dart
.dart_tool/build/entrypoint/build.dart.dill
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/.filecache
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/app.dill
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/flutter_assets.d
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/kernel_snapshot.d
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/kernel_snapshot.stamp
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/.filecache
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/app.dill
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/flutter_assets.d
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/kernel_snapshot.d
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/kernel_snapshot.stamp
.dart_tool/pub/bin/build_runner/build_runner.dart-2.17.6.snapshot
.idea/libraries/Dart_Packages.xml
build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
build/ios/pod_inputs.fingerprint
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
