.flutter-plugins-dependencies
.packages
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/build/entrypoint/.packageLocations
.dart_tool/build/entrypoint/build.dart
.dart_tool/build/entrypoint/build.dart.dill
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/.filecache
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/app.dill
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/flutter_assets.d
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/kernel_snapshot.d
.dart_tool/flutter_build/7c3c5bda20d01a2e96a74c55ae28fa70/kernel_snapshot.stamp
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/.filecache
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/app.dill
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/flutter_assets.d
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/kernel_snapshot.d
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/kernel_snapshot.stamp
.dart_tool/pub/bin/build_runner/build_runner.dart-2.17.6.snapshot
.idea/libraries/Dart_Packages.xml
build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
build/ios/pod_inputs.fingerprint
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
.dart_tool/build/generated/hscs_flutter_app/lib/modules/home/model/home_fund.json_serializable.g.part
.dart_tool/build/generated/hscs_flutter_app/lib/modules/home/model/home_model.json_serializable.g.part
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/.filecache
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/app.dill
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/debug_universal_framework.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/debug_unpack_ios.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/flutter_assets.d
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/gen_localizations.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/kernel_snapshot.d
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/kernel_snapshot.stamp
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/outputs.json
.dart_tool/flutter_build/1c1911e46e942f7c0f955836d42fb9c2/App.framework/App
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/.filecache
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/app.dill
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/debug_universal_framework.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/debug_unpack_ios.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/flutter_assets.d
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/gen_localizations.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/kernel_snapshot.d
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/kernel_snapshot.stamp
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/outputs.json
.dart_tool/flutter_build/7810e31c4e966205a38aa457cdc894dd/App.framework/App
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/.filecache
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/app.dill
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/debug_unpack_ios.stamp
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/gen_localizations.stamp
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/kernel_snapshot.d
.dart_tool/flutter_build/e678e0130be407fc31e75222b752fc08/outputs.json
build/c7922d95bf4a2462b75c84a97c312edb.cache.dill.track.dill
build/f58ed05f7a6fba8f3451773989665e4b.cache.dill.track.dill
build/ios/framework/Debug/Flutter.xcframework/Info.plist
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Flutter
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/icudtl.dat
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Info.plist
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/_CodeSignature/CodeResources
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/Flutter.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterAppDelegate.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterCallbackCache.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterChannels.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterCodecs.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterDartProject.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterEngine.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterEngineGroup.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterMacros.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPlatformViews.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPlugin.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterTexture.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterViewController.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Modules/module.modulemap
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Flutter
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/icudtl.dat
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Info.plist
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/_CodeSignature/CodeResources
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/Flutter.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterAppDelegate.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterCallbackCache.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterChannels.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterCodecs.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterDartProject.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterEngine.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterEngineGroup.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterMacros.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPlatformViews.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPlugin.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterTexture.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterViewController.h
build/ios/framework/Debug/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Modules/module.modulemap
build/ios/framework/Debug/iphoneos/.last_build_id
build/ios/framework/Debug/iphoneos/Flutter.framework/Flutter
build/ios/framework/Debug/iphoneos/Flutter.framework/icudtl.dat
build/ios/framework/Debug/iphoneos/Flutter.framework/Info.plist
build/ios/framework/Debug/iphoneos/Flutter.framework/_CodeSignature/CodeResources
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/Flutter.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterAppDelegate.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterCallbackCache.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterChannels.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterCodecs.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterDartProject.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterEngine.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterEngineGroup.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterMacros.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterPlatformViews.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterPlugin.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterTexture.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Headers/FlutterViewController.h
build/ios/framework/Debug/iphoneos/Flutter.framework/Modules/module.modulemap
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/.filecache
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/app.dill
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/debug_universal_framework.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/debug_unpack_ios.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/flutter_assets.d
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/gen_localizations.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/kernel_snapshot.d
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/kernel_snapshot.stamp
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/outputs.json
.dart_tool/flutter_build/61b865ac4dc3f9997572ff64b1db67da/App.framework/App
.dart_tool/flutter_build/a588cb53cad3dae8036a55b835cf03a8/outputs.json
.idea/hscs_flutter_app.iml
